* {
	font-family: 'Maindara';
	color: #777;
}

body {
	background-image: url('../images/background.jpg');
}

a {
	color: rgb(0, 186, 255);
}

a.main {
	color: #D8D8D8;
	text-transform: uppercase;
	font-size: 14pt;
	font-weight: 300;
}

header {
	background-color: #006699;
}

div.logo {
	font-family: 'Maindara';
	font-weight: 150;
	color: #D8D8D8;
	font-size: 36pt;
}

div.textbox {
	background-color: #FFF;
	border-radius: 5px;
	transition: all 0.1s ease-in;
}

div.textbox.selected {
	box-shadow: 0 0 15px 0 #000000;
	transform: scale(1.05) translateY(15px);
	transition: all 0.1s ease-in;
}

h1 {
	font-family: 'Maindara';
	color: #000000;

}

h2 {
	font-family: 'Maindara';
	color: #000000;
}

p {
	font-size: 16pt;
	line-height: 150%;
}